{% include 'header.html' %}
<body>

    <div class="container-fluid bg-dark" style="height: 100vh;">
        <div class="row d-flex justify-content-center" >
            <div class="col-md-3 bg-light p-4  mt-5">
                <h3 class="m-1 p-1">Registracija korisnika</h3>
                <form method="post" class="d-flex justify-content-center flex-column">
                    <span class="m-2 text-danger"><b>{{greska}}</b></span>
                    <input type="text" class="form-control form-control-md m-2 mw-100" placeholder="Email" name="email">
                    <input type="text" class="form-control form-control-md m-2 mw-100" placeholder="Username" name="username">
                    <input type="password" class="form-control form-control-md m-2 mw-100" placeholder="Sifra" name="password">
                    <input type="password" class="form-control form-control-md m-2 mw-100" placeholder="Ponovite sifru" name="repassword">
                    <hr>
                    <label for="privilegija" class="m-2">Odaberite privilegiju:</label>
                    <select class="form-select mt-3 m-2" name="privilegija">
                        <option value="user">User</option>
                        <option value="editor" disabled>Editor</option>
                        <option value="admin" disabled>Admin</option>
                      </select>
                    <button class="btn btn-primary btn-sm m-2">Registruj se</button>
                    <span class="m-2"><a href="/login"><i>Već imaš kreiran nalog? Prijavi se...</i></a></span>
                </form>
                
            </div>
        </div>
    </div>
    
    
</body>
</html>