{% include 'header.html' %}
<body class="bg-dark">

    <div class="container-fluid" style="height: 100vh;">
      <div class="row">
          {% include 'sidebar.html' %}
          <div class="col-md-10 d-flex justify-content-start flex-column bg-light p-5" style= "border: solid white thin;">
            
              <div class="ms-5 p-4">
                <a href="javascript:history.back()" class="btn btn-warning text-white btn-sm "  style=" width: 10%;">Vrati se nazad</a>
              </div>
                
              <div class="row m-3 bg-light p-4 d-flex justify-content-center" >

                <div class="d-flex justify-content-between">

                    <div class=" d-flex justify-content-end" >

                    <div class="col-md-12 m-3 d-flex justify-content-between align-items-center"> 
                        <div class="col-md-12 p-2 text-end align-items-center d-flex justify-content-end">
                            <div>
                                <form action="/pretraga" method="post" class="d-flex gap-2">
                                    <p>
                                    <input type="text" class="form-control" placeholder="Pretrazi po imenu..." name="upit" style="width: 100%;">
                                    </p>
                                    <button class="btn btn-warning text-white btn-md " style="height: 4%;">Trazi</button> 
                                </form>
                            </div>
                        </div>
                        
                    </div>               
                
                    </div>

                  <div class="d-flex justify-content-end">
                    <div class="dropdown dropend  col-md-4 m-1">
                      <button type="button" class="btn btn-secondary text-white btn-sm dropdown-toggle m-1 col-md-12" data-bs-toggle="dropdown">
                        Sort
                      </button>
                      <ul class="dropdown-menu bg-light border border-1">
                        <li><a class="dropdown-item text-secondary" href="/sortiraj/1" >Email <i class="material-icons">&#xe5d8;</i></a></li>
                        <li><a class="dropdown-item text-secondary" href="/sortiraj/2">Username <i class="material-icons">&#xe5d8;</i></a></li>
                        <li><a class="dropdown-item text-secondary" href="/sortiraj/3">Privilegija <i class="material-icons">&#xe5d8;</i></a></li>
                        <!-- <li><a class="dropdown-item active" href="#">Active</a></li> -->
                        <!-- <li><a class="dropdown-item disabled" href="#">Disabled</a></li> -->
                      </ul>
                    </div>
                    <div class="dropdown dropend col-md-4 m-1">
                      <button type="button" class="btn btn-secondary text-white dropdown-toggle btn-sm m-1 col-md-12" data-bs-toggle="dropdown">
                        Filter
                      </button>
                      <ul class="dropdown-menu  bg-light border border-1">
                        <li><a class="dropdown-item text-secondary" href="/filtriraj/1">Admin <i class="material-icons">&#xe5d8;</i></a></li>
                        <li><a class="dropdown-item text-secondary" href="/filtriraj/2">Editor <i class="material-icons">&#xe5d8;</i></a></li>
                        <li><a class="dropdown-item text-secondary" href="/filtriraj/3">User <i class="material-icons">&#xe5d8;</i></a></li>
                        
                      </ul>
                    </div>
                    <div class="col-md-6 m-2">
                      <a href="/svi_korisnici"><button class="btn btn-danger text-white  btn-sm">Ponisti filtere</button></a>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-12">
                    <!-- <h1 class="text-white">Svi automobili</h1> -->
                    <div class="row m-3 d-flex flex-wrap-wrap justify-content-start">
                        {% for automobil in automobili %}
                        <div class="col-md-3 text-white border border-white p-4">
                            <div class="">
                                <a href="#">
                                  <img src="../static/img/random.jpg" alt=""  style="width: 100%;">
                                </a>
                            </div>
                            <hr>
                            
                            <div class="list-group">
                                <a href="#" class="list-group-item "><h4>{{automobil.marka}}</h4></a>
                                <a href="#" class="list-group-item list-group-item-action"><h4>{{automobil.model}}</h4></a>
                                <a href="#" class="list-group-item list-group-item-action"><h5><b>{{automobil.cena}} EUR</b></h5></a>
                                <a href="#" class="list-group-item list-group-item-action">{{automobil.godiste}}. </a>
                                
                                <p href="#" class="list-group-item list-group-item-action d-flex justify-content-center gap-2">
                                    <a href="/prikazi_automobil/{{automobil.id}}">
                                        <button class="btn btn-warning text-white btn-sm">Pogledaj vise</button>
                                    </a>
                                    <a href="/obrisi_automobil/{{automobil.id}}"  onclick="return confirm('Da li ste sigurni da želite da obrišete ovaj automobil?')">
                                        <button class="btn btn-secondary btn-sm">Obrisi</button>
                                    </a>    
                                    <a href="/azuriraj_automobil/{{automobil.id}}">
                                        <button class="btn btn-secondary btn-sm">Izmeni</button>
                                    </a>    
                                </p>    
                            </div>
                           
                            
                        </div>
                        
                        {% endfor %}
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>
</html>